@import 'jeet'
@import 'nib'

@import './reset';

// media queries
@import 'rupture'

//typography library
@import 'typographic'

//typography settings
@import './typography';

// basic central bar layout
@import './global/layout_base';

// modules (user interface)
@import './modules/footer';

// extras
@import '../libs/ab/anim';
@import '../libs/ab/abutils';


// values for rupture
base-font-size 					= 16px
rupture.enable-em-breakpoints 	= true


// uncomment next line to activate wireframe
// edit()