- // create copies in /src/jade/

- // extends mainlayout.jade
extends core/mainlayout

- // for mainlayout meta section
block vars
	- var title='New Page Template'

- // for mainlayout links & scripts section
block specific_head
	link(rel='stylesheet', href='css/new_page.css')

- // for mainlayout content block
block content
	h1 start here !