@import './reset';

@import 'jeet'
@import 'rupture'
@import 'typographic'
@import 'nib'

@import './typography';

@import './global/layout_base';

@import './modules/footer';

@import './libs/ab/anim';
@import './libs/ab/abutils';


// values for rupture
base-font-size 					= 10px
rupture.enable-em-breakpoints 	= true

// activate wireframe
// edit()

body
	color: #8D8D8D
	background-color: #F5F5F5


.main-content-container
	.inner-content-container
		&.main-area
			border-bottom 3px solid #1082F6
			border-top 3px solid #1082F6
			padding-bottom: 4%;
			padding-top: 6%;