@import 'jeet'
@import 'rupture'
@import 'typographic'
@import 'nib'

@import './reset';
@import './libs/ab/typography';

base-font-size = 14px
rupture.enable-em-breakpoints = true


@import './global/layout_base';

@import './libs/ab/abutils';
@import './libs/ab/anim';

// edit()

body
	color: #8D8D8D
	background-color: #F5F5F5

.main-content-container
	.inner-content-container
		&.main-area
			border-bottom 3px solid #1082F6
			border-top 3px solid #1082F6
			padding-bottom: 4%;
			padding-top: 6%;

.footer-container
	opacity 0.8
	padding-bottom 3%
	p
		font-size: 1.4rem;
	&:hover
		opacity 1