/*!
* # Layout Base
*
* Defines CSS for the main building blocks of the app
*
* var layout_base = require("./app/layout_base");
*
* AB Boilerplate
* Copyright (c) 2014 Antonio Brandao <design@antoniobrandao.com>
*/


/**
* CSS for the main central blocks of the app
*
* @param none
* @return n.a.
*/
.block-container
	col(1/1)
	.block-container-inner
		center(80%)
		+above(1280px)
			center(1028px)