include mixins

doctype html
html
	block vars
	head
		title #{title}
		
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0')

		meta(name='description', content='A nice boilerplate.')
		meta(name='keywords', content='awesomeness, greatness')

		//- - if ie
		//- - 	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

		meta(name='robots', content='nofollow') 
		meta(name='author', content='')
		meta(name='rating', content='General')
		meta(name='revisit-after', content='1 Day')
		meta(name='HandheldFriendly', content='True')
		meta(name='MobileOptimized', content='320')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')

		block specific_head
	
		script(src='http://www.wurfl.io/wurfl.js')
		script(src="resources/js/bundle.js")

		link(href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600,200italic,300italic', rel='stylesheet', type='text/css')
		//- link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')

		body
			//- +mobileNav
			
			div.main-content-container
				div.main-area.inner-content-container
					block content
						
			include footer
					
