.core-cta-mixin
	padding-top 4%
	padding-bottom 4%
	span(1)
	.block-container-inner
		span(1)
		.lead
			margin 0
			padding 0
			display block
			width 100%
			text-align center !important

.core-button-mixin
	center(30%)
	height 2em
	// anim_prop(all, 1s, ease-out)
	// &:hover
	// 	center(34%)
	.clickarea
		margin 0
		padding 0
		border 1px solid alpha(#ccc, 0.7)
		height 100%
		text-align center
		font-size 1.4em
		height 2em
		line-height 1.8em
		font-weight 400