base()
global-reset()
normalize-css()

body
	color: 				#8D8D8D
	background-color: 	#F5F5F5

// html, body, .block-container, .block-container-inner
// 	height 100% !important

*
	box-sizing border-box

// mixins
// mixins
// mixins

text-input-reset()
	outline none
	background none
	border none
	resize none