@import '../../../core/stylus';
@import '../mixins/ui';
@import '../ui/colors';


.main-content-block
	.block-container-inner
		border-bottom 	3px solid #1082F6
		border-top 		3px solid #1082F6
		padding-bottom: 4%;
		padding-top: 	6%;

.header
	span(1)
	h1
		span(1)
		color 			#777
		margin-bottom 	5%

section
	span(1)
	anim_prop(all)
	article
		anim_prop(all)
		col(1/2)
		+tablet()
			col(1/1)
		+mobile()
			col(1/1)