@import '../ui/colors';

::-webkit-input-placeholder
	color #ccc
	// alpha(main_blue, .7)
:-moz-placeholder
	color #ccc
	// alpha(main_blue, .7)
::-moz-placeholder
	color #ccc
	// alpha(main_blue, .7)
:-ms-input-placeholder
	color #ccc
	// alpha(main_blue, .7)

abv5-input-style()
	rounded(4px)
	font-family inherit
	font-size inherit
	font-size 1.3em
	// background alpha(#fff, .1)
	// border 1px solid alpha(#ccc, 0.16)
	// border 2px solid alpha(main_blue, .7)
	anim_prop(all, .2s)
	border 2px solid alpha(#ccc, 0.9)
	&:hover
		border 2px solid soft_blue
	&:focus
		border 2px solid main_blue
	display block
	width 100%
	padding 4%
	padding-top 3%
	font-weight 300
	color #666
	box-shadow none !important
	-webkit-appearance none
	letter-spacing 1px